<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Statics/css/style.css">
        <link rel="icon" href="../Statics/img/icon.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Piedra, papel o tijeras</title>
    </head>

    <body>
        <div id="Fondo">
            <h1 id="Titulo">Piedra Papel o Tijera</h1>
            
            <div id="Sup">
                <img src="../Statics/img/yippe.png" alt="seleccion" width="20%" height="90%" id="Seleccionada" class="eleccion">
                <img src="../Statics/img/espera.png" width="20%" height="90%" id="Resultado">
                <img src="../Statics/img/yippe.png" alt="rival" width="20%" height="90%" id="Rival" class="eleccion">
            </div>

            <div id="Inf">
                <img src="../Statics/img/piedra.png" alt="piedra" width="20%" height="80%" class="Opciones" id="piedra">
                <img src="../Statics/img/papel.png" alt="papel" width="20%" height="80%" class="Opciones">
                <img src="../Statics/img/tijeras.png" alt="tijeras" width="20%" height="80%" class="Opciones">
            </div>
        </div>


        <script src="../Dynamics/js/funcionalidad.js"></script>
    </body>
</html>